.container {
  height: 100%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.content {
  flex: 1;
  max-width: 1000px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.todos {
  height: 0px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
}

.options {
}

.headerIcon {
}

.title {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.todos::-webkit-scrollbar {
  width: 0.5vw;
}

.todos::-webkit-scrollbar-thumb {
  background-color: #999;
}

.todos::-webkit-scrollbar-track {
  /* background-color: #ddd; */
}
