.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navTodos {
  /* height: 100%; */
  height: 0px;
  flex: 1 1 auto;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  width: 300px;
  background-color: #f5f4f3;
  padding: 30px;
}

.navTodos::-webkit-scrollbar {
  width: 16px;
}

.navTodos::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #aaa;
}

.navTodos::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.horizontalSeparator {
  margin: 20px 0;
  height: 1px;
  background-color: #ccc;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebarLink {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #333;
  padding: 6px;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebarLink .icon {
  font-size: 20px;
}

.projectOptions {
  display: flex;
  gap: 5px;
}

.icon.expandProjectsIcon,
.icon.addProjectIcon {
  transition: transform 0.2s ease-in-out;
}

.icon.expandProjectsIcon:hover,
.icon.addProjectIcon:hover {
  transform: scale(1.3);
}

.sidebarLink.project {
  gap: unset;
  justify-content: space-between;
}

.sidebarLink.project:not(.projectHeader) {
  padding-left: 25px;
}

.sidebarLink.active,
.sidebarLink:hover {
  background-color: #ddd;
  color: black;
}

.linkOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  height: fit-content;
  width: fit-content;
  padding: 1px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  margin-right: 2px;
}

.linkOptions:hover {
  transform: scale(1.4);
  background-color: #c4c4c4;
}

/* .sidebarLink:hover {
      background-color: #888;
      color: white;
    } */
