.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #222;
}

.todos {
  height: 0px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.header {
  padding-bottom: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  border-bottom: 2px groove #ccc9;
}

.headerIcon {
  font-size: 24px;
  border-radius: 50%;

  padding: 2px;
  transition: transform 0.1s ease-in-out;
}

.headerIcon:hover {
  transform: scale(1.2);
  background-color: #e8e8e8;
  cursor: pointer;
}

.title {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.todos::-webkit-scrollbar {
  width: 16px;
}

.todos::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #aaa;
}

.todos::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
